/* Form Section */
.formsection form {
    width: 100%;
    margin: 0 auto;
}
.formsection .row {
    justify-content: space-around;
    align-items: center;
}
.form-group.row {
    margin: 0 0 0.65rem 0;
}
.formLabel {
    display: none;
    width: 50%;
    text-align: right;
    padding-right: 30px;
}
.forminput {
    width: 100%;
}
.forminput img {
    max-width: 350px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
}
.forminput img.for_captcha {
    width: 100%;
    max-width: 87%;
    height: calc(2.5rem + 2px);
    border-radius: 0.25rem;
    margin-bottom: 0;
}
.forminput input, .forminput select, .select-teams-select select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #fe9f02 inset;
    -webkit-box-shadow: -1px -1px 1px 1px #fe9f02 inset;
    -moz-box-shadow: -1px -1px 1px 1px #fe9f02 inset;
}
.form-control:focus, .forminput select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 1px 1px 1px 1px rgba(13,110,253,.25) inset;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(13,110,253,.25) inset;
    -moz-box-shadow: 1px 1px 1px 1px rgba(13,110,253,.25) inset;
}
.forminput select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}
.formButton {
    text-align: center;
}
/* FORM / REFRESH BUTTON */
.refresh-btn {
    padding: 0;
    background: transparent;
    font-size: 1.75rem;
    line-height: 1;
    color: #ffffff !important;
    opacity: 0.65;
    box-shadow: none;
    transition: 0.2s all ease-in-out;
    width: 12%;
    margin-left: 1%;
}
/* Floating Labels */
.forminput.form-floating > label {
    color: #495057;
    padding-left: 1.75rem;
}
.form-floating > .form-control,
.forminput select {
    height: calc(2.8rem + 2px);
    line-height: 1.25;
}
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .5;
}
/* Modal Form */
.submitForm.modal .modal-content {
    border-radius: 20px;
}
.submitForm.modal .title {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin: 1em 0;
}
.submitForm.modal p {
    margin-bottom: 0;
}
.submitForm.modal .forminput input, .submitForm.modal .forminput select {
    background-color: #fff;
}
.submitForm-text {
    margin: 1em 0;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}
.submitForm-text a {
    color: red;
    text-decoration: underline;
}
.submitForm.modal .notifyjs-wrapper {
    position: absolute;
}
.formsection .sectionTitle {
    width: fit-content;
    margin: 0 auto 20px;
    background: url(../../images/common/form-header.png);
    padding: 15px 40px;
    background-position: center;
    background-size: 100% 100%;
    font-weight: 900;
}
@media screen and (min-width: 321px) {
    .formsection .sectionTitle {
        font-size: 20px;
        padding: 15px 30px;
   }
}
@media screen and (min-width: 414px) {
    .formsection .sectionTitle {
        font-size: 24px;
        padding: 15px 40px;
   }
}
@media screen and (min-width: 575px) {
    .formsection .sectionTitle {
        font-size: 24px;
        padding: 20px 80px;
   }
}
@media screen and (min-width: 768px) {
    .formsection form {
        max-width: 630px;
   }
    .formLabel {
        display: flex;
        width: 50%;
        justify-content: flex-end;
   }
    .forminput {
        width: 100%;
   }
    .forminput input::placeholder {
        visibility: hidden;
   }
    .forminput input, .forminput select {
        margin: 0;
   }
    .formsection > div.container > span {
        font-size: 1.5rem;
   }
    .form-floating > .form-control {
        font-size: 1rem;
        padding-bottom: 15px;
   }
   /* Modal Form */
    .submitForm.modal .modal-dialog {
        max-width: 600px;
   }
    .formsection .sectionTitle {
        font-size: 24px;
        padding: 20px 120px;
   }
}
@media screen and (min-width: 1024px) {
    .forminput input, .forminput select {
        font-size: 1.2rem;
   }
   /* Modal Form */
    .submitForm.modal .modal-dialog {
        max-width: 650px;
   }
    .submitForm.modal .sumitForm-text {
        font-size: 16px;
   }
}
@media screen and (min-width: 1200px) {
    .forminput input, .forminput img {
        margin-left: 0;
   }
}
@media screen and (min-width: 1366px) {
   /* Modal Form */
    .submitForm.modal .modal-content {
        font-size: 20px;
   }
    .submitForm.modal .modal-dialog {
        max-width: 745px;
   }
}
@media screen and (min-width: 1440px) {
    .formsection form {
        max-width: 700px;
   }
    .forminput.form-floating > label {
        top: -2px;
        font-size: 1.2rem;
   }
    .form-floating > .form-control {
        font-size: 1.2rem;
        padding-bottom: 0;
        padding-top: 15px;
   }
}
